{
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./dist/messages/"
      }
    ],
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "transform-es2015-classes",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react",
        "es2017"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
        "es2017"
      ]
    },
    "production": {
      "presets": [
        "env",
        "react",
        "es2017"
      ]
    }
  }
}