@import url('../shared/fonts/index.scss');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer, header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .block16.left {
        margin-right: 2px;
    }
    .block16.right {
        margin-left: 2px;
    }
}

header {
    height: 100px;
}

footer {
    height: 80px;
    .block {
        padding-top: 16px;
        &.left {
            padding: 0;
        }
    }
}

section, main {
    display: flex;
    background-color: transparent;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.block {
    flex-direction: row;
    justify-content: center;
}

.block.block16, .block16 {
    max-width: 400px;
    min-width: 355px;
    flex: 1 0 16%;
}

.center {
    min-width: 645px;
    flex: 1 0 60%;
}

aside, .block {
    display: flex;
    flex-grow: 1;
    padding: 24px 40px 16px;
    box-sizing: border-box;
}

aside {
    flex-direction: column;
    justify-content: flex-start;
}