.container {
    width: 30vw;
    height: 30vw;
    position: relative;
}

.spinner {
    color: #75df00;
    opacity: 0.3;
}

.logo {
    position: absolute;
    top: -10%;
    left: -2%;
    width: 100%;
    height: 100%;
}