.textSpan {
    font-family: 'Open Sans';
    bottom: -10vmin;
    font-size: calc(25px + 0.5vmin);
    font-weight: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    width: 80vmin;
    text-align: center;
}

.circle {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100px + 40vmin);
    width: calc(100px + 40vmin);
    margin: 20vmin;
    border: 0;
}

.active {
    border-radius: 50%;
    background-color: rgba($color: #ffffff, $alpha: .4);
}

.circle.active::before, .circle.active::after,
.circle.active .innerCircle
{
    position: absolute;
    content: '';
    border-radius: 50%;
}

.circle.active::before {
    height: 100%;
    width: 100%;
    
    top: 0%;
    left: 0%;
    
    animation: grow-before 1.4s linear infinite;
}

.circle.interval.active::before {
    animation: grow-before 1.4s linear 1;
}

.circle.active::after {
    $size: calc(100% + 5.8vmin);
    height: $size;
    width: $size;
    
    top: -2.9vmin;
    left: -2.9vmin;
    
    animation: grow-after 1.4s linear infinite;
}
.circle.interval.active::after {
    animation: grow-after 1.4s linear 1;
}

.circle.active .innerCircle {
    $size: calc(100% + 11.6vmin);
    height: $size;
    width: $size;
    
    top: -5.8vmin;
    left: -5.8vmin;
    
    animation: grow-span 1.4s linear infinite;
}

.circle.interval.active .innerCircle {
    animation: grow-span 1.4s linear 1;
}

@keyframes grow-before {
    0% {
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .4);
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .3);
    }
    35% {
        transform: scale(1.2);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .2);
    }
    80% {
        transform: scale(1.1);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .3);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .4);
    }
}

@keyframes grow-after {
    0% {
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .3);
        transform: scale(1);
    }
    25% {
        transform: scale(1.15);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .2);
    }
    35% {
        transform: scale(1.3);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .17);
    }
    80% {
        transform: scale(1.15);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .2);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .3);
    }
}

@keyframes grow-span {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .2);
    }
    25% {
        transform: scale(1.2);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .10);
    }
    35% {
        transform: scale(1.4);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .05);
    }
    80% {
        transform: scale(1.2);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .10);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 3vmin rgba($color: #ffffff, $alpha: .3);
    }
}