.mainContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 2vmin;
    box-sizing: border-box;
}

.mainVideo {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    margin-left: 10vmin;
    overflow: hidden;
    & > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scaleX(-1);
    }
}


.controlContainer {
    width: 10vmin;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > video {
        display: flex;
        flex-grow: 1;
        align-self: stretch;
    }
}